.home-pic {
  width: 1300px;
}

.img-tesla1 {
  width: 100%;
  height: 720px;
  margin-top: -20px;
}

.img-tesla2 {
  width: 300px;
  margin-top: -25px;
  
}

.navbar {
  margin-right: 390px;

}

.img-cars-tesla {
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.div-h2-cars {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  justify-content: center;
  font-style: normal;
  margin-top: 70px;
  font-size: 40px;
  margin-bottom: 20px;
}

.chekout-cars-h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: green;
  margin-top: 40px;
}

.div-h4-cars{
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
}

.card-paragraph{
  height: 30px;
}

.tesla-btn-youtube{
  margin-left: 40%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.lucid-img-1 {
  width: 310px;
  height: 220px;
  margin-bottom: -55px;
  margin-top: -55px;
}

.lucid-img-2 {
width: 100%;
}

.lucid-images-carousel{
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
}

.play{
display: none;
}

.rivian-image-1 {
  width: 290px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.rivian-image-2 {
  width: 100%;
  height: 720px;
}

.contact-form {
  margin-top: 140px;
}

.div-contact-btn {
  margin-bottom: 320px;
}

.card-launch-page {
  margin-top: 210px;
  margin-bottom: 240px;
}

.form-launch-page{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}