.home-pic {
  width: 1300px;
}

.img-tesla1 {
  width: 100%;
  height: 720px;
  margin-top: -20px;
}

.img-tesla2 {
  width: 300px;
  margin-top: -25px;
  
}

.navbar {
  margin-right: 390px;

}

.img-cars-tesla {
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.div-h2-cars {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  justify-content: center;
  font-style: normal;
  margin-top: 70px;
  font-size: 40px;
  margin-bottom: 20px;
}

.chekout-cars-h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: green;
  margin-top: 40px;
}

.div-h4-cars{
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
}

.card-paragraph{
  height: 30px;
}

.tesla-btn-youtube{
  margin-left: 40%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.lucid-img-1 {
  width: 310px;
  height: 220px;
  margin-bottom: -55px;
  margin-top: -55px;
}

.lucid-img-2 {
width: 100%;
}

.lucid-images-carousel{
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
}

.play{
display: none;
}

.rivian-image-1 {
  width: 290px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.rivian-image-2 {
  width: 100%;
  height: 720px;
}

.contact-form-card {
  margin-top: 190px;
  margin-bottom: 250px;
  width: 900px;
  margin-left: 15%;
}

.contact-form {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.div-contact-btn {
  margin-bottom: 15px;
  width: 220px;
  display: flex;
  margin-left: 35%;
}

.card-launch-page {
  width: 900px;
  
}

.div-card-launchpage{
  height: 610px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-launch-page{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-signup-page{
  margin-top: 100px;
  margin-bottom: 170px;
  width: 800px;
  margin-left: 20%;
}

.form-signup-page {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.h2-signup-page {

  font-family: "Monoton", sans-serif;
  font-weight: 500;
  margin-top: 70px;
  font-size: 32px;
  font-style: normal;
  color: green;
  text-align: center;
  animation: eletric 5s infinite;
}

.h2-signin-page {
  font-family: "Monoton", sans-serif;
  font-weight: 500;
  margin-top: 70px;
  font-size: 32px;
  font-style: normal;
  color: green;
  text-align: center;
  animation: eletric 5s infinite;
}

.nav-my-account {
  margin-right: 40px;
}

.btn-launch-page {
  width: 140px;
  margin-left: 35%;
}

.btn-signup-page{
  width: 140px;
  margin-left: 35%;
}

@media screen and (max-width: 992px) {
  .card-launch-page {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .card-launch-page {
    width: 300px;
  }
}